@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightBg font-nunito text-[16px] font-normal leading-[1.2];
}

.section {
  @apply py-[20px] md:py-[80px] xl:py-[40px];
}

.section-compact {
  @apply py-[16px] md:py-[20px] xl:py-[24px];
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.chrome-text {
  font-size: 5rem;
  font-weight: 900;
  color: #ddd;

  background: linear-gradient(
    90deg,
    #b8b8b8 0%,
    #f5f5f5 10%,
    #9e9e9e 20%,
    #dcdcdc 30%,
    #e6e6e6 40%,
    #bfbfbf 50%,
    #d4d4d4 60%,
    #eaeaea 70%,
    #bcbcbc 80%,
    #f0f0f0 90%,
    #b8b8b8 100%
  );

  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: shine 3s linear infinite;

  text-shadow:
    0 0 5px #fff,
    0 0 10px #bbb,
    0 0 20px #999,
    0 0 30px #777;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes mobileMenuFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-item-animate {
  /* forwards гарантирует, что элемент не исчезнет после анимации */
  animation: mobileMenuFadeIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  opacity: 0;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
